<NyprOBlockListGroup @layoutType='offset' as |blg|>
  <blg.col1 class="c-recirc-tout__col1" data-test-recirc-popular>
    {{#if this.popular}}
      <NyprMBlockList
        class="u-spacing--and-half"
        @heading={{concat 'Popular in ' @article.section.label}}
        @items={{slice 0 3 this.popular}}
        as |article|>
        <ArticleBlock
          @hideEyebrow={{true}}
          @article={{article}}
          @orientation='h'
          @thumbnailSize='300'
          @hideExcerpt={{true}}
          @showAuthor={{true}}
          @showTimestamp={{false}}
        />
      </NyprMBlockList>
    {{/if}}
  </blg.col1>

  <blg.col2 class="c-recirc-tout__col2" data-test-recirc-featured>
    <h2 class="o-section__heading o-bg-text-accent">
      Featured in {{@article.section.label}}
    </h2>
    {{#if this.featured}}
      <ArticleBlock
        @hideEyebrow={{true}}
        @article={{featured.firstObject}}
        @orientation='v'
        @thumbnailSize='640'
        @showAuthor={{true}}
        @showTimestamp={{false}}
      />
    {{/if}}
  </blg.col2>
</NyprOBlockListGroup>
