<NyprOBlockListGroup @layoutType='offset' as |blg|>
  <blg.col1 class="c-recirc-tout__col1" data-test-recirc-recent>
    {{#if this.recent}}
      <NyprMBlockList
        class="u-spacing--and-half"
        @heading={{concat 'Recent in ' @article.section.title}}
        @items={{slice 0 3 this.recent}}
        as |article|>
        <ArticleBlock
          @hideEyebrow={{true}}
          @article={{article}}
          @orientation='h'
          @thumbnailSize={{array 100 100 true}}
          @hideExcerpt={{true}}
          @showAuthor={{true}}
          @showTimestamp={{false}}
        />
      </NyprMBlockList>
    {{/if}}
  </blg.col1>

  <blg.col2 class="c-recirc-tout__col2" data-test-recirc-featured>
    <h2 class="o-section__heading o-bg-text-accent">
      Featured in {{@article.section.title}}
    </h2>
    {{#if this.featured}}
      <ArticleBlock
        @hideEyebrow={{true}}
        @article={{featured.firstObject}}
        @orientation='v'
        @thumbnailSize={{array 600 430}}
        @mediumThumbnailSize={{array 378 252}}
        @showAuthor={{true}}
        @showTimestamp={{false}}
      />
    {{/if}}
  </blg.col2>
</NyprOBlockListGroup>
