<div class="{{if @breakMargins "break-margins"}} {{concat "ad-height-" this.height}}">
  <div class="flex-wrapper">
    <DfpAd
      @slot={{@slot}}
      @target={{@target}}
      @slotRenderEndedAction={{action 'handleSlotRendered'}}
      @mapping={{array
        (array 0
          (array 320 50)
        )
        (array 800
          (array 728 90)
          (array 300 250)
        )
        (array 1000
          (array 970 90)
          (array 728 90)
          (array 300 250)
        )
      }}
      @sizes={{array
        (array 320 50)
        (array 300 250)
        (array 728 90)
        (array 970 90)
      }}
      data-test-ad-tag-wide
    />
    {{#if @showLabel}}
      <NyprAAdLabel/>
    {{/if}}
  </div>
</div>
{{#if @breakMargins}}
  <div class="space-filler"></div>
{{/if}}