{{#unless this.sensitive.on}}
  <HtlbidAd
    @slot={{@slot}}
    @isEager={{@isEager}}
    @sizes="0x0:300x250,320x50|750x0:300x600,728x90,300x250|1000x0:970x250,970x90,728x90,300x600,300x250"
    data-test-ad-tag-wide
  as |ad|>
    <div class={{if @breakMargins "break-margins"}}>
      <div class="flex-wrapper">
        {{ad.tag}}
        {{#if (and @showLabel (not ad.isEmpty))}}
          <NyprAAdLabel/>
        {{/if}}
      </div>
    </div>
    {{#if (and @breakMargins (not ad.isEmpty))}}
      <div class="space-filler"
      style={{html-safe (concat "height:" ad.height "px")}}></div>
    {{/if}}
  </HtlbidAd>
{{/unless}}