<DoTargeting key='Template' value='Article' />
<div class="u-section-spacing l-container l-wrap">
  <article class="c-article l-container u-spacing--double">
    <NyprOArticleHeader as |header|>
      <header.top as |top|>
        <top.breadcrumb @breadcrumbs={{model.breadcrumb}}/>

        <top.headline data-test-article-headline>
          {{{model.title}}}
        </top.headline>

        <top.meta
          @galleryPhotosCount={{model.gallery.slides.length}}
          @galleryRoute='article.gallery'
          @commentsUrl='#comments'
          @commentCount={{model.commentCount}}
          as |meta|>

          <meta.byline @authors={{model.authors}} @sponsor={{model.sponsor}}/>
          <meta.publishDate @publishDate={{model.publishedMoment}} />

        </top.meta>

      </header.top>

      <header.lead as |lead|>
        <lead.left>
          <NyprMShareTools @vertical={{media 'isMediumAndUp'}} as |share|>
            <share.share @service='facebook'/>
            <share.share @service='twitter' @params={{hash text=model.title}}/>
            <share.share @service='reddit' @params={{hash url=model.permalink title=model.title}}/>
            <share.share @service='email' @params={{hash body=(concat model.title ' - ' model.permalink)}}/>
          </NyprMShareTools>
        </lead.left>

        <lead.center>
          {{#if model.hasGallery}}
            <NyprMGalleryLead
              @slides={{model.gallery.slides}}
              @viewAll={{action 'viewGallery'}}
              @goToSlide={{action 'goToSlide'}}
            />
          {{else if model.leadImage}}
            <NyprMFigure
              @srcS={{model.leadImage}}
              @caption={{model.leadImageCaption}}
              @credit={{model.leadImageCredit}}
            />
          {{/if}}
        </lead.center>

        {{!-- <lead.right>
          <NyprORelatedContent @items={{ARTICLE.relatedItems}}/>
        </lead.right> --}}

      </header.lead>

    </NyprOArticleHeader>

    <NyprOArticleBody class={{unless model.hasLead 'u-space--zero--top'}} data-test-article-body>
      {{{model.body}}}
    </NyprOArticleBody>

    <div class="l-container--content u-section-spacing">
      <NyprOArticleFooter as |footer|>
        <footer.tags @tags={{model.displayTags}} as |Tag tag|>
          <Tag @route={{array 'tags' tag}}/>
        </footer.tags>

        <footer.contact>
          <p><strong>Do you know the scoop?</strong> &nbsp; {{#if model.allowComments}}<a href="#comments">Comment</a> below or {{/if}}<a href="mailto:tips@gothamist.com" target="_blank" rel="noopener">Send us a Tip</a></p>
        </footer.contact>

        {{#unless footerClosed}}
          <footer.donate
            @close={{action (mut footerClosed) true}}
            @linkText='Donate Now'
            @linkUrl='https://pledge3.wnyc.org/donate/gothamist/onestep'>
            <p>
              Gothamist is non-profit local news. We rely on reader support. We need YOU so we can keep telling New York stories.
            </p>
          </footer.donate>
        {{/unless}}

        {{#if model.allowComments}}
          <footer.comments>
            <DisqusComments @id="comments" @identifier={{model.moveableTypeId}} @url={{model.permalink}}/>
          </footer.comments>
        {{/if}}
      </NyprOArticleFooter>
    </div>

  </article>
</div>
