<div data-test-inserted-ad-wrapper>
  {{yield (hash
    didRender=(action 'handleDidRender')
    )
  }}
</div>

{{!--
  Ember wormhole doesn't work in fastboot for
  target elements that don't exist during
  fastboot time. Since ad insertion requires
  the DOM, we delay this until after fastboot.
--}}
{{#if this.shouldRender}}
  {{#ember-wormhole destinationElement=this.wormholeDestination}}
    <AdTagWide
      @slot={{@slot}}
      @breakMargins={{true}}
      @showLabel={{true}}
      @isEager={{this.isEager}}
      data-test-inserted-ad
    />
  {{/ember-wormhole}}
{{/if}}