<div class="c-listing__sections u-section-spacing l-container l-wrap l-container--11col">

  <header class="c-basic__header u-spacing">
    <strong class="c-basic__header-kicker u-font--secondary-style u-font--xs">
      404 Page Error
    </strong>
    <h1 class="c-basic__heading o-3d-heading" data-test-404-heading>
      The page you're looking for doesn't appear to exist.
    </h1>
  </header>

  <div class="c-basic-page__content u-spacing--and-half">
    <div class="c-basic-page__lead">
      <div class="c-lead u-breakout">
        <NyprMFigure
          @srcS='/static-images/404.jpg'
          @caption='Realize the key to Zubaz is wearing them high. No need to rock these low. They do the work for you.'
        />
      </div>
    </div>

    <div class="u-spacing--triple">
      <div class="c-article__body o-rte-text u-spacing">
        <p>
          Welcome! The Gothamist page you&apos;re looking for doesn't appear to exist. Would you like to visit our {{link-to 'Homepage' 'index'}}?  Or you can {{link-to 'search' 'search'}} for what you're looking for.
        </p>
      </div>

      <section class="c-basic-page__recirc u-spacing--and-half">
        <NyprMBlockList
          @items={{model}}
          @heading='Recent'
          class='u-spacing'
          as |article|>
          <ArticleBlock
            @article={{article}}
            @orientation='h'
            @thumbnailSize={{array 150 150 true}}
            @hideExcerpt={{true}}
          />
        </NyprMBlockList>
      </section>
    </div>
  </div>
</div>
