{{#unless this.sensitive.on}}
  <HtlbidAd class="dfp-skin" role="presentation" aria-hidden="true" @slot='gothamist/skin' @sizes="0x0:1x1" @isEager={{true}} />
{{/unless}}

<HeadLayout/>

<NyprOHeader
        class={{if (eq target.currentRouteName 'index') 'c-main-header--emphasis'}}
        @floatLandmark={{headerLandmark}}
        @donateURL={{DONATE_URL}}
        data-test-main-header
        as |header|>

  <header.leaderboard>
    {{#unless this.sensitive.on}}
      {{#if (eq target.currentRouteName 'index')}}
        <AdTagLeaderboard @slot='gothamist/index/leaderboard/1' />
      {{else}}
        <AdTagLeaderboard @slot='gothamist/interior/leaderboard' />
      {{/if}}
    {{/unless}}
  </header.leaderboard>

  <header.menu @donateUrl={{DONATE_URL}} data-test-side-menu as |menu|>
    <menu.branding>
      {{#link-to 'index'}}
        <Icon @icon='gothamist/logo' @title="gothamist logo"/>
      {{/link-to}}
    </menu.branding>

    <menu.primaryNav @navItems={{model.primaryNav}} @linkDataLabel='Side Nav'/>
    <menu.secondaryNav @navItems={{model.secondaryNav}}/>

    <menu.social @label='Follow Us' as |share|>
      <share.link @service='facebook' @username='Gothamist'/>
      <share.link @service='twitter' @username='gothamist' />
      <share.link @service='instagram' @username='Gothamist' />
      <share.link @service='youtube' @username='UCY_2VeS5Q9_sMZRhtvF0c5Q'/>
    </menu.social>

    <menu.component>
      <NyprMInlineSearch @formClass="c-search--side u-space--triple--top" @search={{action this.search}}/>
      <NyprAButton
              @url="mailto:tips@gothamist.com"
              name="storyIdeaSideMenu"
              class="c-side-menu__send-story o-button--c-quaternary u-full-width u-space--top"
      >
        Send a Story Idea
      </NyprAButton>
    </menu.component>
  </header.menu>

  <header.left as |left|>
    <left.branding>
      {{#link-to 'index' class=header.rules.logoLinkClass data-test-header-logo=true}}
        {{#if header.rules.stackLogo}}
          <Icon @icon='gothamist/logo-stacked' @title="gothamist logo"/>
        {{else}}
          <Icon @icon='gothamist/logo' @title="gothamist logo"/>
        {{/if}}
      {{/link-to}}
    </left.branding>

    {{#if header.rules.headline}}
      <left.headline data-test-top-headline>
        {{{header.rules.headline}}}
      </left.headline>
    {{/if}}

  </header.left>

  {{#if header.rules.nav}}
    <header.nav @navItems={{model.primaryNav}} data-test-top-nav/>
  {{/if}}

  <header.right data-test-header-right as |right|>
    {{#with header.rules.share as |share|}}
      <NyprMShareTools class="c-main-header__share" @label='Share' as |tools|>
        <tools.share
                @service='facebook'
                @utm={{hash medium='social' source='facebook' campaign='shared_facebook'}}
                data-test-facebook-share
        />
        <tools.share
                @service='twitter'
                @params={{hash text=share.title via='gothamist'}}
                @utm={{hash medium='social' source='twitter' campaign='shared_twitter'}}
                data-test-twitter-share
        />
        <tools.share
                @service='reddit'
                @params={{hash title=share.title}}
                @utm={{hash medium='social' source='reddit' campaign='shared_reddit'}}
                data-test-reddit-share
        />
        <tools.share
                @service='email'
                @params={{hash body=(concat share.title ' - {{URL}}')}}
                @utm={{hash medium='social' source='email' campaign='shared_email'}}
                data-test-email-share
        />
      </NyprMShareTools>
    {{/with}}

    {{#if header.rules.donate}}
      <Button class='mod-donate mod-header' name="donateHeader" @label='Donate' @href={{DONATE_URL}} />
    {{/if}}

    {{#if header.rules.search}}
      <right.search as |search|>
        <search.open/>
        <search.form data-test-header-search @search={{action this.search}}/>
      </right.search>
    {{/if}}

    {{#if header.rules.close}}
      <Button class="mod-flat-icon" @icon="close" @alt="close" onClick={{header.rules.close}}  data-test-header-close />
    {{/if}}
  </header.right>

</NyprOHeader>

<main class={{concat "c-main " this.mainRouteClasses}}>
  <div class="c-banners u-section-spacing--wide l-container l-container--xl l-wrap">
    <div class="c-banners__breaking-news l-container l-container--16col">
      {{#each model.sitewideComponents.breakingNews as |news|}}
        <BreakingNewsBanner @news={{news}} />
      {{/each}}
    </div>

    {{#with model.systemMessages.topProductBanner as |productBanner|}}
      <ProductBanner @banner={{productBanner}} />
    {{/with}}
  </div>

  {{outlet}}
</main>

<NyprMToTop/>

<Footer @site="gothamist" as |footer|>
  <footer.logo>
    <Icon @icon='gothamist/logo-stacked' @title='logo' />
  </footer.logo>

  <footer.slogan>
    <p class="u-space--bottom">
      Gothamist is a website about New York City news, arts and events, and food, brought to you by New York Public Radio.
    </p>
    <p class="u-space--bottom">
      Gothamist is supported by the American Express Foundation.
    </p>
  </footer.slogan>

  <footer.rightComponent>
    <NyprMNewsletter
            @endpoint={{NEWSLETTER_ENDPOINT}}
            @params={{NEWSLETTER_PARAMS}}
            as |newsletter|>
      <newsletter.graphic>
        <Icon @icon='gothamist/party-confetti' @title="newsletter signup"/>
      </newsletter.graphic>
      <newsletter.blurb>
        Sign up for our newsletter! Share your email address to get our top stories each day.
      </newsletter.blurb>
      <newsletter.legal/>
    </NyprMNewsletter>
  </footer.rightComponent>

  <footer.social>
    <NyprMShareTools @label='Follow Us' as |share|>
      <share.link @service='facebook' @username='gothamist'/>
      <share.link @service='twitter' @username='gothamist' />
      <share.link @service='instagram' @username='gothamist' />
      <share.link @service='youtube' @username='UCY_2VeS5Q9_sMZRhtvF0c5Q' />
    </NyprMShareTools>
  </footer.social>

  <footer.primaryNav @navItems={{model.secondaryNav}}/>

</Footer>