<DfpAd role="presentation" aria-hidden="true" @slot='gothamist/skin' @sizes={{array (array 1 1)}} />

<HeadLayout/>

<NyprOHeader
  class={{if (eq target.currentRouteName 'index') 'c-main-header--emphasis'}}
  @floatLandmark={{headerLandmark}}
  @donateURL={{DONATE_URL}}
  as |header|>

  <header.leaderboard>
    {{#if header.rules.homepage}}
      <AdTagLeaderboard @slot='gothamist/index/leaderboard' />
    {{else}}
      <AdTagLeaderboard @slot='gothamist/interior/leaderboard' />
    {{/if}}
  </header.leaderboard>

  <header.menu as |menu|>
    <menu.branding>
      {{#link-to 'index'}}
        <NyprASvg @icon='gothamist-logo'/>
      {{/link-to}}
    </menu.branding>

    <menu.primaryNav @navItems={{model.primaryNav}}/>
    <menu.secondaryNav @navItems={{model.secondaryNav}}/>

    <menu.social @label='Follow Us' as |share|>
      <share.link @service='facebook' @username='Gothamist'/>
      <share.link @service='twitter' @username='gothamist' />
      <share.link @service='instagram' @username='Gothamist' />
      <share.link @service='youtube' @username='UCY_2VeS5Q9_sMZRhtvF0c5Q'/>
    </menu.social>

    <menu.search
      @formClass="c-search--side"
      @search={{action this.search}}
    />

    <menu.tipButton @url="mailto:tips@gothamist.com">
      Send us a Story Idea
    </menu.tipButton>
  </header.menu>

  <header.left as |left|>
    <left.branding>
      {{#link-to 'index' class=header.rules.logoLinkClass}}
        {{#if header.rules.stackLogo}}
          <NyprASvg @icon='gothamist-logo--stacked'/>
        {{else}}
          <NyprASvg @icon='gothamist-logo'/>
        {{/if}}
      {{/link-to}}
    </left.branding>

    {{#if header.rules.headline}}
      <left.headline data-test-top-headline>
        {{{header.rules.headline}}}
      </left.headline>
    {{/if}}

  </header.left>

  {{#if header.rules.nav}}
    <header.nav @navItems={{model.primaryNav}} data-test-top-nav/>
  {{/if}}

  <header.right as |right|>
    {{#with header.rules.share as |share|}}
      <NyprMShareTools class="c-main-header__share" @label='Share' as |tools|>
        <tools.share @service='facebook' data-test-facebook-share/>
        <tools.share @service='twitter' @params={{hash text=share.title}} data-test-twitter-share/>
        <tools.share @service='reddit' @params={{hash title=share.title}} data-test-reddit-share/>
        <tools.share @service='email' @params={{hash body=(concat share.title ' - ' share.permalink)}} data-test-email-share/>
      </NyprMShareTools>
    {{/with}}

    {{#if header.rules.donate}}
      <NyprAButton class='c-main-header__donate o-button--sm' @url={{DONATE_URL}}>
        Donate
      </NyprAButton>
    {{/if}}

    {{#if header.rules.search}}
      <right.search as |search|>
        <search.open/>
        <search.form @search={{action this.search}}/>
      </right.search>
    {{/if}}

    {{#if header.rules.close}}
      <NyprAButton @blank={{true}} @onclick={{header.rules.close}} class="u-padding--half">
        <NyprASvg @icon='close' class='c-main-header__close'/>
      </NyprAButton>
    {{/if}}

  </header.right>

</NyprOHeader>

<main class={{concat "c-main " this.mainRouteClasses}}>
  {{outlet}}
</main>

<NyprOFooter as |footer|>
  <footer.slogan>
    <p>
      Gothamist is a website about New York City news, arts and events, and food, brought to you by New York Public Radio.
    </p>
  </footer.slogan>

  <footer.nav @navItems={{model.secondaryNav}}/>

  <footer.signup>
    <NyprMNewsletter
      @endpoint={{NEWSLETTER_ENDPOINT}}
      @params={{NEWSLETTER_PARAMS}}
      as |newsletter|>
      <newsletter.graphic>
        <NyprASvg @icon='party-confetti'/>
      </newsletter.graphic>

      <newsletter.blurb>
        Sign up for our newsletter! Share your email address to get our top stories each day.
      </newsletter.blurb>

      <newsletter.legal/>
    </NyprMNewsletter>

  </footer.signup>

</NyprOFooter>
