<HeadLayout/>

<NyprOHeader
  @floatLandmark={{headerLandmark}}
  @donateURL={{DONATE_URL}}
  as |header|>

  {{#if showLeaderboard}}
    <header.leaderboard>
      <picture>
        <source media="(min-width: 750px)" srcset="https://tpc.googlesyndication.com/simgad/3866766746825522936">
        <img src="https://s0.2mdn.net/5188901/TINCUP_OUTSIDEONLINE_300x50.jpg" alt="">
      </picture>
    </header.leaderboard>
  {{/if}}

  <header.menu as |menu|>
    <menu.branding>
      <NyprASvg @icon='gothamist-logo'/>
    </menu.branding>

    <menu.primaryNav @navItems={{model.primaryNav}}/>
    <menu.secondaryNav @navItems={{model.secondaryNav}}/>
  </header.menu>

  <header.left as |left|>
    <left.branding>
      {{#link-to 'index'}}
        <NyprASvg @icon='gothamist-logo'/>
      {{/link-to}}
    </left.branding>

    {{#if (and headline header.outOfViewport)}}
      <left.headline data-test-top-headline>
        {{headline}}
      </left.headline>
    {{/if}}

  </header.left>

  {{#if (or (eq router.currentRouteName 'index') (and showNav (not header.outOfViewport)))}}
    <header.nav @navItems={{model.primaryNav}} data-test-top-nav/>
  {{/if}}

  <header.right as |right|>
    {{#if (and showShareTools header.outOfViewport)}}
      <NyprMShareTools @label='Share' as |tools|>
        <tools.share @service='facebook'/>
        <tools.share @service='twitter' @params={{hash text=model.title}}/>
        <tools.share @service='reddit' @params={{hash url=model.permalink title=model.title}}/>
        <tools.share @service='email' @params={{hash body=(concat model.title ' - ' model.permalink)}}/>
      </NyprMShareTools>
    {{/if}}

    {{#if showDonate}}
      <NyprAButton class='c-main-header__donate o-button--sm' @url={{DONATE_URL}}>
        Donate
      </NyprAButton>
    {{/if}}

    {{#if showSearch}}
      <right.search as |search|>
        <search.open/>
        <search.form @search={{action this.search}}/>
      </right.search>
    {{/if}}

  </header.right>

</NyprOHeader>

<main class="c-main">
  {{outlet}}
</main>

<NyprOFooter as |footer|>
  <footer.slogan>
    <p>
      A website about New York.
    </p>
  </footer.slogan>

  <footer.nav @navItems={{model.secondaryNav}}/>

  <footer.signup>
    <NyprMNewsletter as |newsletter|>
      <newsletter.graphic>
        <NyprASvg @icon='confetti'/>
      </newsletter.graphic>

      <newsletter.blurb>
        Sign Up Today
      </newsletter.blurb>

      <newsletter.legal/>
    </NyprMNewsletter>

  </footer.signup>

</NyprOFooter>
