<DoTargeting @key='Template' @value='Article' />
{{remember-document-scroll key=model.article.id}}

<div class="u-section-spacing l-container l-wrap">
  <article class="c-article l-container u-spacing--double">
    <NyprOArticleHeader as |header|>
      <header.top as |top|>
        {{#if model.article.breadcrumb}}
          <top.breadcrumb @breadcrumbs={{model.article.breadcrumb}}/>
        {{/if}}

        <top.headline data-test-article-headline>
          {{{model.article.title}}}
        </top.headline>

        <top.meta
          @galleryPhotosCount={{model.gallery.slides.length}}
          @galleryRoute={{array 'gallery' model.gallery.section model.gallery.slug}}
          @commentsUrl={{concat '#' commentsAnchor}}
          @commentCount={{model.article.commentCount}}
          data-test-article-meta
          as |meta|>

          <meta.byline
            @authors={{model.article.authors}}
            @sponsor={{model.article.relatedSponsors.firstObject}}
          />
          <meta.publishDate @publishDate={{model.article.publishedMoment}} />

        </top.meta>

      </header.top>

      <header.lead as |lead|>
        <lead.left>
          <NyprMShareTools @vertical={{media 'isMediumAndUp'}} as |share|>
            <share.share
              @service='facebook'
              @utm={{hash medium='social' source='facebook' campaign='shared_facebook'}}
            />
            <share.share
              @service='twitter'
              @params={{hash text=model.article.title via='gothamist'}}
              @utm={{hash medium='social' source='twitter' campaign='shared_twitter'}}
            />
            <share.share
              @service='reddit'
              @params={{hash title=model.article.title}}
              @utm={{hash medium='social' source='reddit' campaign='shared_twitter'}}
            />
            <share.share
              @service='email'
              @params={{hash body=(concat model.article.title ' - {{URL}}')}}
              @utm={{hash medium='social' source='email' campaign='shared_email'}}
            />
          </NyprMShareTools>
        </lead.left>

        <lead.center>
          {{#if model.article.hasGallery}}
            <NyprMGalleryLead
              data-test-gallery-lead
              @slides={{galleryLeadSlides}}
              @viewAll={{action 'viewGallery'}}
              @goToSlide={{action 'goToSlide'}}
            />
          {{else}}
            {{#with model.article.leadImage as |lead|}}
              {{#if model.article.leadImageLink}}
                <a data-test-lead-image-link href={{model.article.leadImageLink}} target="_blank" rel="noopener">
                  <NyprMFigure
                    data-test-lead-image
                    class="c-lead"
                    @srcS={{wagtail-image-url lead.image 661 496}}
                    @caption={{or lead.caption lead.image.caption}}
                    @credit={{lead.image.credit}}
                    @creditLink={{lead.image.creditLink}}
                    @alt={{lead.image.alt}}
                    @width={{661}}
                    @height={{496}}
                  />
                </a>
              {{else}}
                <NyprMFigure
                  data-test-lead-image
                  class="c-lead"
                  @srcS={{wagtail-image-url lead.image 661 496}}
                  @caption={{or lead.caption lead.image.caption}}
                  @credit={{lead.image.credit}}
                  @creditLink={{lead.image.creditLink}}
                  @alt={{lead.image.alt}}
                  @width={{661}}
                  @height={{496}}
                />
              {{/if}}
            {{/with}}
          {{/if}}
        </lead.center>

        {{!-- <lead.right>
          <NyprORelatedContent @items={{ARTICLE.relatedItems}}/>
        </lead.right> --}}

      </header.lead>

    </NyprOArticleHeader>

    <AdTagInside
      @slot="gothamist/interior/midpage/1"
      as |hooks|>
      <NyprOArticleBody
        class={{unless model.article.hasLead 'u-space--zero--top'}}
        data-test-article-body>
        <ArticleBody
          @blocks={{model.article.body}}
          @onDidRender={{hooks.didRender}}
        />
      </NyprOArticleBody>

    </AdTagInside>

    <div class="l-container--content u-section-spacing">
      <NyprONewsletterArticle
              @endpoint={{NEWSLETTER_ENDPOINT}}
              @params={{NEWSLETTER_PARAMS}}
              as |tout|>
        <tout.heading>
          NYC news never sleeps. Get the Gothamist Daily newsletter and don't miss a moment.
        </tout.heading>
        <tout.legal/>
      </NyprONewsletterArticle>
    </div>

    <div class="l-container--content u-section-spacing">
      <NyprOArticleFooter as |footer|>
        <footer.tags @tags={{model.article.displayTags}} as |Tag tag|>
          <Tag @route={{array 'tags' tag.slug}} @tag={{tag.name}}/>
        </footer.tags>

        <footer.contact>
          <p><strong>Do you know the scoop?</strong> &nbsp; {{#unless model.article.disableComments}}<a href="#{{commentsAnchor}}">Comment</a> below or {{/unless}}<a href="mailto:tips@gothamist.com" target="_blank" rel="noopener">Send us a Tip</a></p>
        </footer.contact>

        {{#if showTout}}
          <footer.donate
            @close={{action 'closeDonation'}}
            @linkText='Donate Now'
            @icon='nyc-love'
            @linkUrl='https://pledge3.wnyc.org/donate/gothamist/onestep?utm_medium=partnersite&utm_source=gothamist&utm_campaign=articledonationask'
          >
            <p>
              Help fund the local coverage you rely on. Back the extra reporting you need during this global pandemic.
            </p>
          </footer.donate>
        {{/if}}

        <footer.ad>
          <AdTagWide
            @slot="gothamist/interior/midpage/2"
            @breakMargins={{true}}
            @showLabel={{true}}
          />
        </footer.ad>

        {{#unless model.article.disableComments}}
          <footer.comments>
            <DisqusComments
              @id={{commentsAnchor}}
              @identifier={{model.article.idForComments}}
              @permalink={{model.article.permalink}}
              @onReady={{navigateToComments}}
            />
          </footer.comments>
        {{/unless}}
      </NyprOArticleFooter>
    </div>

    <div class="l-container l-container--14col">
      {{#unless isPreview}}
        <ArticleRecirc @article={{model.article}}/>
      {{/unless}}
    </div>

  </article>

  <div class="c-article__read-more l-container l-container--14col">
    <NyprMNavReadMore @items={{array
      (hash route=(array 'sections' 'news') label='News')
      (hash route=(array 'sections' 'arts-entertainment') label='Arts & Entertainment')
      (hash route=(array 'sections' 'food') label='Food')
    }}/>
  </div>
</div>
