{{!--
  Add content you wish automatically added to the documents head
  here. The 'model' available in this template can be populated by
  setting values on the 'head-data' service.
--}}
<title>{{model.title}}</title>

<meta name="description" content={{model.metaDescription}}>

<meta property="og:image" content={{model.image}}>
<meta property="og:image:width" content={{model.imageWidth}}>
<meta property="og:image:height" content={{model.imageHeight}}>

<meta property="og:url" content={{model.url}}>
<meta property="og:title" content={{model.title}}>
<meta property="og:description" content={{model.metaDescription}}>

<meta property="og:type" content={{model.ogType}}>

{{#if (eq model.ogType 'article')}}
  <meta property="article:published_time" content={{model.publishedTime}}>
  <meta property="article:modified_time" content={{model.modifiedTime}}>
  <meta property="article:section" content={{model.section}}>
  <meta property="article:tag" content={{model.tags}}>
  {{#each model.authors as |author|}}
    <meta property="article:author" content={{author.url}}>
  {{/each}}
{{/if}}

{{#each model.gallery as |slide|}}
  <meta property="og:image" content={{slide.full}}>
  <meta property="og:image:width" content={{slide.width}}>
  <meta property="og:image:height" content={{slide.height}}>
{{/each}}
