<link rel="preconnect" href={{model.apiServer}} crossorigin>
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
{{#if model.ampId}}
  <link rel="amphtml" href="https://amp.gothamist.com/amp/articles/create?article_id={{model.ampId}}">
{{/if}}

<title>{{{model.title}}}</title>

<link rel="canonical" href={{model.url}}>

<meta name="description" content={{{model.metaDescription}}}>

<meta property="og:site_name" content="Gothamist">

{{#if model.image}}
  <link rel="preload" as="image" href={{model.image.full}}>

  <meta property="og:image" content={{model.image.full}}>
  <meta property="twitter:image" content={{model.image.full}}>

  <meta property="og:image:width" content={{model.image.width}}>
  <meta property="og:image:height" content={{model.image.height}}>

  <meta property="og:image:alt" content={{model.image.caption}}>
  <meta property="twitter:image:alt" content={{model.image.caption}}>
{{/if}}

<meta property="og:url" content={{model.url}}>

<meta property="og:title" content={{{model.title}}}>
<meta name="twitter:title" content={{{model.title}}}>

<meta property="og:description" content={{model.metaDescription}}>
<meta name="twitter:description" content={{model.metaDescription}}>

<meta property="og:type" content={{model.ogType}}>

<meta property="og:locale" content="en_US">

{{#if (eq model.ogType 'article')}}
  <meta property="article:published_time" content={{model.publishedTime}}>
  <meta property="article:modified_time" content={{model.modifiedTime}}>
  <meta property="article:section" content={{model.section}}>
  <meta property="article:tag" content={{model.tags}}>
  {{#each model.authors as |author|}}
    <meta property="article:author" content={{author.url}}>
  {{/each}}
{{/if}}

{{#each model.gallery as |slide|}}
  <link rel="preload" as="image" href={{slide.full}}>
  <meta property="og:image" content={{slide.full}}>
  <meta property="og:image:width" content={{slide.width}}>
  <meta property="og:image:height" content={{slide.height}}>
  <meta property="og:image:alt" content={{slide.caption}}>
{{/each}}

{{!-- twitter specific tags --}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@gothamist">
