{{set-body-class "homepage"}}
<DoTargeting key='Template' value='Homepage' />

<h1 class="is-vishidden">Gothamist: New York City Local News, Food, Arts & Events</h1>

<div class="c-home__sections u-section-spacing--wide l-container l-container--xl l-wrap u-trigger-floating-header">

  <NyprOFeaturedBlockList data-test-featured-block-list as |fbl|>
    <fbl.heading>
      <span class="c-featured-blocks__heading-icon o-icon u-icon--s u-path-fill--quaternary">
        <NyprASvg @icon='arrow-stylish'/>
      </span>
      Featured
    </fbl.heading>

    <fbl.featured>
      {{#with model.main.firstObject as |article|}}
        <ArticleBlock @article={{article}} @thumbnailSize='640'/>
      {{/with}}
    </fbl.featured>

    <fbl.col>
      <NyprMBlockList @items={{slice 1 undefined model.main}} as |item|>
        <ArticleBlock
          @article={{item}}
          @orientation='h'
          @size='s'
          @thumbnailSize='300'
          @hideExcerpt={{true}}
        />
      </NyprMBlockList>
    </fbl.col>

  </NyprOFeaturedBlockList>

  {{#if model.sponsored}}
    <div class="l-container l-container--16col">
      <NyprOSponsoredTout @heading="Sponsored" data-test-sponsored-tout>
        <ArticleBlock @article={{model.sponsored.firstObject}} @thumbnailSize='300'/>
      </NyprOSponsoredTout>
    </div>
  {{/if}}

  <div class="l-container l-container--14col">
    <ArticleList @articles={{slice 0 GROUP_SIZE model.river}} @ad='gothamist/index/midpage/1' />
  </div>

  <div class="l-container l-container--14col">
    <NyprONewsletterTout
      @endpoint={{WTC_ENDPOINT}}
      @params={{WTC_PARAMS}}
      @img={{hash
        src='/images/wtc.png'
        alt='newsletter image'
      }}
      as |tout|>
      <tout.heading>
        {{#link-to 'tags' 'wethecommuters'}}
          We the Commuters: Comprehensive Coverage of Transportation in our Region from WNYC, Gothamist and More.
        {{/link-to}}
      </tout.heading>

      <tout.blurb>
        {{#link-to 'tags' 'wethecommuters'}}
          Sign up to receive the weekly newsletter
        {{/link-to}}
      </tout.blurb>

      <tout.legal/>
    </NyprONewsletterTout>
  </div>

  <div class="l-container l-container--11col">
    <ArticleList @articles={{slice GROUP_SIZE (multiply GROUP_SIZE 2)  model.river}}/>
  </div>

  <NyprOFeaturedBlockList class="c-featured-blocks--secondary" as |fbl|>
    <~fbl.heading class="c-featured-blocks__heading--wnyc">
      <span class="o-bg-text-accent">
        New From
        <NyprASvg @icon='wnyc-logo'/>
      </span>
   </~fbl.heading>

    <fbl.featured>
      {{#with model.wnyc.firstObject as |story|}}
        <WnycBlock
          @story={{story}}
          @imageWidth='466'
        />
      {{/with}}

    </fbl.featured>

    <fbl.col>
      <NyprMBlockList @items={{slice 1 undefined model.wnyc}} as |item|>
        <WnycBlock
          @story={{item}}
          @orientation='h'
          @size='s'
          @imageWidth='300'
          @imageHeight='300'
          @hideExcerpt={{true}}
        />
      </NyprMBlockList>

      <NyprAButton
        @url='https://www.wnyc.org'
        class="c-featured-blocks__cta o-button--c-quaternary u-full-width"
      >
        Read More on WNYC
      </NyprAButton>
    </fbl.col>

  </NyprOFeaturedBlockList>


  <div class="l-container l-container--14col">
    <ArticleList @articles={{slice (multiply GROUP_SIZE 2) (multiply GROUP_SIZE 3) model.river}} @ad='gothamist/index/midpage/2' />
  </div>
</div>

<div class="c-home__sections">
  <NyprODonate
    @linkUrl='https://pledge3.wnyc.org/donate/gothamist/onestep?utm_medium=partnersite&utm_source=gothamist&utm_campaign=homepagedonationask'
    @linkText='Donate'
    class="c-donate-tout--static">
    <p>
      Gothamist is non-profit local news. We rely on reader support. We need YOU so we can keep telling New York stories.
    </p>
  </NyprODonate>
</div>

<div class="c-home__sections u-spacing--quad l-container l-wrap">

  <div class="l-container l-container--14col">
    <ArticleList @articles={{slice (multiply GROUP_SIZE 3) undefined model.river}} @ad='gothamist/index/midpage/3' />
  </div>

  <QueryMore
    @query={{riverQuery}}
    @model='article'
    @callback={{action riverCallback}}
    @total={{model.meta.total}}
    as |more|>
    <AnimatedContainer @onInitialRender={{true}} class="u-spacing--quad">
      {{#each more.pages as |page|}}
        {{#animated-each page use=transition initialInsertion=true as |set|}}
          <div class="l-container l-container--14col">
            <ArticleList @articles={{set}} @ad='gothamist/index/midpage/repeating' />
          </div>
        {{/animated-each}}
      {{/each}}
    </AnimatedContainer>

    <div class="l-container l-container--14col">
      <div class="u-align-center">
        <NyprAButton
          data-test-more-results
          disabled={{more.queryMore.isRunning}}
          class="o-button--c-quaternary o-button--extra"
          @onclick={{perform more.queryMore}}
        >
          {{if more.queryMore.isRunning 'Loading...' 'More Results'}}
        </NyprAButton>
      </div>
    </div>
  </QueryMore>

  <div class="l-container l-container--14col">
    <NyprMNavReadMore @items={{array
      (hash route=(array 'sections' 'news') label='News')
      (hash route=(array 'sections' 'arts & entertainment') label='Arts & Entertainment')
      (hash route=(array 'sections' 'food') label='Food')
      (hash route=(array 'popular') label='Popular')
    }}/>
  </div>

</div>