{{set-body-class "homepage"}}
{{remember-document-scroll key="homepage"}}
<DoTargeting key='Template' value='Homepage' />

<h1 class="is-vishidden" aria-hidden="true">Gothamist: New York City Local News, Food, Arts & Events</h1>
<div class="c-home__content-top u-section-spacing--wide l-container l-container--xl l-wrap">

  <NyprOFeaturedBlockList data-test-featured-block-list as |fbl|>
    <fbl.heading>
      <span class="c-featured-blocks__heading-icon o-icon u-icon--s u-path-fill--quaternary">
        <Icon @icon='stylish arrow' @title='arrow'/>
      </span>
      Featured
    </fbl.heading>

    <fbl.featured>
      {{#with model.main.firstObject as |article|}}
        <ArticleBlock @article={{article}} @thumbnailSize={{array 800 533}}/>
      {{/with}}
    </fbl.featured>

    <fbl.col>
      <NyprMBlockList @items={{slice 1 undefined model.main}} as |item|>
        <ArticleBlock
          @article={{item}}
          @orientation='h'
          @size='s'
          @thumbnailSize={{array 100 100 true}}
          @mediumThumbnailSize={{array 150 150}}
          @hideExcerpt={{true}}
        />
      </NyprMBlockList>
    </fbl.col>

  </NyprOFeaturedBlockList>

  {{#if model.sponsored}}
    <div class="l-container l-container--16col">
      <NyprOSponsoredTout @heading="Sponsored" data-test-sponsored-tout>
        <ArticleBlock @article={{model.sponsored}} @thumbnailSize={{array 328 219 true}}/>
      </NyprOSponsoredTout>
    </div>
  {{/if}}

  <div class="l-container l-container--14col">
    <ArticleList @articles={{slice 0 GROUP_SIZE model.river}} @ad='gothamist/index/rectangle/1' />
  </div>

  {{#if (media 'isMediumAndUp')}}
    <div class="o-ad o-ad--leaderboard">
      <AdTagLeaderboard @slot="gothamist/index/leaderboard/2" @sizes="0x0:300x250|750x0:728x90|1000x0:970x250,970x90,728x90" />
    </div>
  {{/if}}

  <div class="l-container l-container--10col">
    <ArticleList @articles={{slice GROUP_SIZE (multiply GROUP_SIZE 2)  model.river}}/>
  </div>

  <div class="o-ad o-ad--leaderboard">
    <AdTagLeaderboard @slot="gothamist/index/leaderboard/3" @sizes="0x0:300x250|750x0:728x90|1000x0:970x250,970x90,728x90" />
  </div>

  <div class="l-container l-container--14col">
    <ArticleList @articles={{slice (multiply GROUP_SIZE 2) (multiply GROUP_SIZE 3) model.river}} @ad='gothamist/index/rectangle/2' />
  </div>
</div>

<div class="c-home__tout"
  {{track-impression}}
  data-category="NTG membership"
  data-action="membership modal impression 4"
  data-label={{target.headData.title}}
>
  <NyprODonate
    @linkUrl='https://pledge3.wnyc.org/donate/gothamist/onestep?utm_medium=partnersite&utm_source=gothamist&utm_campaign=homepagedonationask'
    @linkText='Donate'
    @icon='gothamist/nyc-love'
    class="c-donate-tout--static gtm_click-tracking"
    @onDonateClick={{action this.trackEvent (hash
      category="NTG membership"
      action="marketing modal click"
      label=target.headData.title
    )}}
  >
    <p>
      Help fund the local coverage you rely on. Back the extra reporting you need during this global pandemic.
    </p>
  </NyprODonate>
</div>

<div class="c-home__content-bottom u-spacing--quad l-container l-wrap">

  <div class="l-container l-container--14col">
    <ArticleList @articles={{slice (multiply GROUP_SIZE 3) undefined model.river}} @ad='gothamist/index/rectangle/3' />
  </div>

  <QueryMore
    @query={{riverQuery}}
    @model='article'
    @callback={{action riverCallback}}
    @total={{model.meta.total}}
    as |more|>
    <AnimatedContainer @onInitialRender={{true}} class="u-spacing--quad">
      {{#each more.pages as |page|}}
        <AriaLoadMessage @message="More Results Loaded" />
        {{#animated-each page use=transition initialInsertion=true as |set|}}
          <div class="l-container l-container--14col">
            <ArticleList @articles={{set}} @ad='gothamist/index/rectangle/repeating' />
          </div>
        {{/animated-each}}
      {{/each}}
    </AnimatedContainer>

    <div class="l-container l-container--14col">
      <div class="u-align-center">
        <Button
          class="mod-wide"
          @label={{if more.queryMore.isRunning 'Loading...' 'More Results'}}
          onclick={{perform more.queryMore}}
          data-test-more-results
        />
      </div>
    </div>
  </QueryMore>

  <div class="l-container l-container--14col">
    <NyprMNavReadMore @items={{array
      (hash route=(array 'sections' 'news') label='News')
      (hash route=(array 'sections' 'arts-entertainment') label='Arts & Entertainment')
      (hash route=(array 'sections' 'food') label='Food')
      (hash route=(array 'tags' 'election-2021') label='Election 2021')
    }}/>
  </div>

</div>