<DoTargeting key='Template' value='Search Results' />
<div class="u-spacing--quad c-search-results">

  <div class="l-container l-container--14col l-wrap">
    <header class="c-search-results__header u-spacing">
      <h1 class="is-vishidden">Search Results</h1>
      <div class="c-search-results__result-number u-font--secondary-style u-font--secondary">
        {{#if this.articles.length}}
          <strong>{{this.articles.length}}</strong>
          {{if (eq this.articles.length 1) 'Result' 'Results'}} for:
        {{/if}}
      </div>

      <NyprMInlineSearch
        @formClass="c-search-results__form"
        @query={{q}}
        @search={{perform search}}
        data-test-search-form
      />

    </header>
  </div>

  <div class="c-listing__sections u-section-spacing l-container l-container--14col l-wrap">

    <div class="u-spacing--quad" data-test-search-results>
      {{#if this.search.isRunning}}
        <p class="u-align--center u-font--l">Searching...</p>
      {{else if this.articles}}
        <section class="c-listing__section o-section" data-test-search-results>
          <NyprMBlockList @items={{this.articles}} as |article|>
            <ArticleBlock
              @article={{article}}
              @orientation='h'
              @size='l'
              @thumbnailSize={{array 100 100 true}}
              @mediumThumbnailSize={{array 360 240}}
            />
          </NyprMBlockList>
        </section>
      {{else}}
        <p class="u-align--center u-font--l">No Results</p>
      {{/if}}
    </div>

  </div>
</div>
