<DoTargeting key='Template' value='Search Results' />
<div class="u-spacing--double c-search-results">

  <div class="l-wrap l-container l-container--14col u-spacing">
    <header class="c-search-results__header c-search-results__header--no-border u-spacing">
      <h1 class="is-vishidden">Search Results</h1>
      <div class="c-search-results__result-number u-font--secondary-style u-font--secondary">Results for:</div>

      <div class="c-search-results__term">
        {{input value=q enter=(action 'search' q)}}
      </div>
    </header>

    <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

  </div>

  <div class="c-listing__sections u-section-spacing l-container l-container--14col l-wrap">

    <div class="u-spacing--quad">
      <section class="c-listing__section o-section" data-test-section-river>
        <NyprMBlockList @items={{this.articles}} as |article|>
          <ArticleBlock
            @article={{article}}
            @orientation='h'
            @size='l'
            @thumbnailSize={{array 100 100 true}}
            @mediumThumbnailSize={{array 360 240}}
          />
        </NyprMBlockList>
      </section>
    </div>

  </div>
</div>
