{{remember-document-scroll key=model.section}}
<header class="c-section__header">
  <h1 class="c-section__heading u-font--secondary-style u-font--secondary" data-test-section-heading>
    {{model.title}}
  </h1>
</header>

<div class="c-listing__sections u-section-spacing l-container l-container--14col l-wrap">
  <NyprOBlockListGroup @layoutType='two-up' as |blg|>
    <blg.col1>
      <ArticleBlock
        @article={{object-at 0 model.articles}}
        @orientation='v'
        @thumbnailSize={{array 800 533}}
        @hideEyebrow={{true}}
      />
    </blg.col1>

    <blg.col2>
      <ArticleBlock
        @article={{object-at 1 model.articles}}
        @orientation='v'
        @thumbnailSize={{array 800 533}}
        @hideEyebrow={{true}}
      />
    </blg.col2>
  </NyprOBlockListGroup>

  <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

  <section class="c-listing__section o-section">
    <NyprMBlockList @items={{slice 2 6 model.articles}} as |article|>
      <ArticleBlock
        @article={{article}}
        @orientation='h'
        @size='l'
        @thumbnailSize={{array 100 100 true}}
        @mediumThumbnailSize={{array 360 240}}
        @hideEyebrow={{true}}
      />
    </NyprMBlockList>
  </section>

  <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

  <div class="c-listing__ad o-ad o-ad--billboard">
    <AdTagWide @slot="gothamist/interior/midpage/1" />
  </div>

  <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

  <section class="c-listing__section o-section">
    <NyprMBlockList @items={{slice 6 undefined model.articles}} as |article|>
      <ArticleBlock
        @article={{article}}
        @orientation='h'
        @size='l'
        @thumbnailSize={{array 100 100 true}}
        @mediumThumbnailSize={{array 360 240}}
        @hideEyebrow={{true}}
      />
    </NyprMBlockList>
  </section>


  <QueryMore
    @query={{query}}
    @model='article'
    @callback={{addComments}}
    @total={{model.articles.meta.total}}
    as |more|>
    <AnimatedContainer class="u-section-spacing" @onInitialRender={{true}}>
      {{#each more.pages as |page|}}
        <AriaLoadMessage @message="More Results Loaded" />
        <section class="c-listing__section o-section">
          <NyprMBlockList @items={{slice 0 6 page}} as |article|>
            <ArticleBlock
              @article={{article}}
              @orientation='h'
              @size='l'
              @thumbnailSize={{array 100 100 true}}
              @mediumThumbnailSize={{array 360 240}}
              @hideEyebrow={{true}}
            />
          </NyprMBlockList>
        </section>

        <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

        <div class="c-listing__ad o-ad o-ad--billboard">
          <AdTagWide @slot="gothamist/interior/midpage/repeating" />
        </div>

        <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

        <section class="c-listing__section o-section">
          <NyprMBlockList @items={{slice 6 undefined page}} as |article|>
            <ArticleBlock
              @article={{article}}
              @orientation='h'
              @size='l'
              @thumbnailSize={{array 100 100 true}}
              @mediumThumbnailSize={{array 360 240}}
              @hideEyebrow={{true}}
            />
          </NyprMBlockList>
        </section>
      {{/each}}
    </AnimatedContainer>

    {{#unless more.isFinished}}
      <div class="u-align-center">
        <NyprAButton
          data-test-more-results
          class="o-button--c-quaternary o-button--extra"
          @onclick={{perform more.queryMore}}
        >
          {{if more.queryMore.isRunning 'Loading...' 'More Results'}}
        </NyprAButton>
      </div>
    {{/unless}}
  </QueryMore>

</div>
