<div class="u-section-spacing l-container l-wrap">
  <article class="c-article l-container u-spacing--double">
    <NyprOArticleHeader as |header|>
      <header.top as |top|>
        <top.breadcrumb @breadcrumbs={{model.breadcrumb}}/>

        <top.headline data-test-story-headline>
          {{model.title}}
        </top.headline>

        <top.meta @galleryPhotosCount={{model.gallery.length}} as |meta|>
          <meta.byline @authors={{model.authors}} @sponsor={{model.sponsor}}/>
          <meta.publishDate @publishDate={{utc model.authoredOnUtc 'YYYYMMDDHHmmss'}} />
        </top.meta>

      </header.top>

      <header.lead as |lead|>
        <lead.left>
          <NyprMShareTools @vertical={{true}} as |share|>
            <share.share @service='facebook'/>
            <share.share @service='twitter' @params={{hash text=model.title}}/>
            <share.share @service='reddit' @params={{hash url=model.permalink title=model.title}}/>
            <share.share @service='email' @params={{hash body=(concat model.title ' - ' model.permalink)}}/>
          </NyprMShareTools>
        </lead.left>

        <lead.center>
          {{#if model.gallery}}
            <NyprMGalleryLead @slides={{model.gallery}} />
          {{else}}
            <NyprMFigure
              @src-s={{make-https model.thumbnail640}}
              @caption={{model.leadImageCaption}}
              @credit={{model.leadImageCredit}}
            />
          {{/if}}
        </lead.center>

        {{!-- <lead.right>
          <NyprORelatedContent @items={{STORY.relatedItems}}/>
        </lead.right> --}}

      </header.lead>

    </NyprOArticleHeader>

    <NyprOArticleBody data-test-article-body>
      {{{model.body}}}
    </NyprOArticleBody>

    <div class="l-container--content u-section-spacing">
      <NyprOArticleFooter as |footer|>
        <footer.tags @tags={{model.displayTags}} as |Tag tag|>
          <Tag @url='/tags/{{tag}}'/>
        </footer.tags>

        <footer.contact>
          <p><strong>Do you know the scoop?</strong> &nbsp; <a href="">Comment</a> below or <a href="">Send us a Tip</a></p>
        </footer.contact>

        {{#unless footerClosed}}
          <footer.donate
            @close={{action (mut footerClosed) true}}
            @linkText='Donate'
            @linkUrl='https://pledge3.wnyc.org/donate/gothamist/onestep'>
            <p>
              Hey, do you know that it  takes money to write these stories? Help us tell more with your help today.
            </p>
          </footer.donate>
        {{/unless}}

        <footer.comments>
          comments go here
        </footer.comments>
      </NyprOArticleFooter>
    </div>

  </article>
</div>
