<DoTargeting key='Template' value='Tag' />
{{remember-document-scroll key=model.title}}

<div class="c-listing__sections u-section-spacing l-container l-container--14col l-wrap">
  <header class="c-tag-listing__header u-trigger-floating-header">
    <h1 class="c-tag-listing__heading u-font--secondary" data-test-tag-heading>
      {{if model.isWTC 'We the Commuters' model.title}}
    </h1>
  </header>

  <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

  {{#if model.isWTC}}
    <section class="c-listing__section o-section">
      <NyprMBlockList @items={{slice 0 3 model.articles}} as |article|>
        <ArticleBlock
          @article={{article}}
          @orientation='h'
          @size='l'
          @thumbnailSize={{array 100 100 true}}
          @mediumThumbnailSize={{array 360 240}}
        />
      </NyprMBlockList>
    </section>

    <div
      {{track-impression}}
      data-category="NTG newsletter"
      data-action="newsletter modal impression 4"
      data-label="Articles tagged {{model.title}}"
    >
      <NyprONewsletterTout
        @endpoint={{wtcEndpoint}}
        @params={{wtcParams}}
        @img={{hash
          src='/static-images/wtc.png'
          alt='We the Commuters'
        }}
        @onSuccess={{action this.trackEvent (hash
          event="newsletter"
          category="NTG newsletter"
          action="newsletter signup"
          label="success"
        )}}
        as |tout|>
        <tout.heading>
          Sign Up for We the Commuters
        </tout.heading>

        <tout.blurb>
          Comprehensive coverage of transportation in our region from WNYC, Gothamist and more.
        </tout.blurb>

        <tout.legal/>
      </NyprONewsletterTout>
    </div>

    <section class="c-listing__section o-section">
      <NyprMBlockList @items={{slice 3 6 model.articles}} as |article|>
        <ArticleBlock
          @article={{article}}
          @orientation='h'
          @size='l'
          @thumbnailSize={{array 100 100 true}}
          @mediumThumbnailSize={{array 360 240}}
        />
      </NyprMBlockList>
    </section>

  {{else}}
    <section class="c-listing__section o-section">
      <NyprMBlockList @items={{slice 0 6 model.articles}} as |article|>
        <ArticleBlock
          @article={{article}}
          @orientation='h'
          @size='l'
          @thumbnailSize={{array 100 100 true}}
          @mediumThumbnailSize={{array 360 240}}
        />
      </NyprMBlockList>
    </section>
  {{/if}}

  <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

  <div class="c-listing__ad o-ad o-ad--billboard">
    <AdTagWide @slot="gothamist/interior/midpage/1" />
  </div>

  <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

  <section class="c-listing__section o-section">
    <NyprMBlockList @items={{slice 6 undefined model.articles}} as |article|>
      <ArticleBlock
        @article={{article}}
        @orientation='h'
        @size='l'
        @thumbnailSize={{array 100 100 true}}
        @mediumThumbnailSize={{array 360 240}}
      />
    </NyprMBlockList>
  </section>


  <QueryMore
    @query={{query}}
    @model='article'
    @callback={{addComments}}
    @total={{model.articles.meta.total}}
    as |more|>
    <AnimatedContainer class="u-section-spacing" @onInitialRender={{true}}>
      {{#each more.pages as |page|}}
        <section class="c-listing__section o-section">
          <NyprMBlockList @items={{slice 0 6 page}} as |article|>
            <ArticleBlock
              @article={{article}}
              @orientation='h'
              @size='l'
              @thumbnailSize={{array 100 100 true}}
              @mediumThumbnailSize={{array 360 240}}
            />
          </NyprMBlockList>
        </section>

        <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

        <div class="c-listing__ad o-ad o-ad--billboard">
          <AdTagWide @slot="gothamist/interior/midpage/repeating" />
        </div>

        <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

        <section class="c-listing__section o-section">
          <NyprMBlockList @items={{slice 6 undefined page}} as |article|>
            <ArticleBlock
              @article={{article}}
              @orientation='h'
              @size='l'
              @thumbnailSize={{array 100 100 true}}
              @mediumThumbnailSize={{array 360 240}}
            />
          </NyprMBlockList>
        </section>
      {{/each}}
    </AnimatedContainer>

    {{#unless more.isFinished}}
      <div class="u-align-center">
        <Button
          class="mod-wide"
          @label={{if more.queryMore.isRunning 'Loading...' 'More Results'}}
          onclick={{perform more.queryMore}}
          data-test-more-results
        />
      </div>
    {{/unless}}
  </QueryMore>

</div>
