<div class="c-listing__sections u-section-spacing l-container l-container--14col l-wrap">
  <header class="c-tag-listing__header u-trigger-floating-header">
    <h1 class="c-tag-listing__heading u-font--secondary" data-test-tag-heading>
      {{if model.isWTC 'We the Commuters' model.title}}
    </h1>
  </header>

  <hr class="u-border-accent u-hide-until--m">

  {{#if model.isWTC}}
    <section class="c-listing__section o-section">
      <NyprMBlockList @items={{slice 0 3 model.articles}} as |article|>
        <ArticleBlock
          @article={{article}}
          @orientation='h'
          @size='l'
          @thumbnailSize='300'
        />
      </NyprMBlockList>
    </section>

    <NyprONewsletterTout
      @endpoint={{wtcEndpoint}}
      @params={{wtcParams}}
      @img={{hash
        src='/images/wtc.png'
        alt='We the Commuters'
      }}
      as |tout|>
      <tout.heading>
        Sign Up for We the Commuters
      </tout.heading>

      <tout.blurb>
        Comprehensive coverage of transportation in our region from WNYC, Gothamist and more.
      </tout.blurb>

      <tout.legal/>
    </NyprONewsletterTout>

    <section class="c-listing__section o-section">
      <NyprMBlockList @items={{slice 3 6 model.articles}} as |article|>
        <ArticleBlock
          @article={{article}}
          @orientation='h'
          @size='l'
          @thumbnailSize='300'
        />
      </NyprMBlockList>
    </section>

  {{else}}
    <section class="c-listing__section o-section">
      <NyprMBlockList @items={{slice 0 6 model.articles}} as |article|>
        <ArticleBlock
          @article={{article}}
          @orientation='h'
          @size='l'
          @thumbnailSize='300'
        />
      </NyprMBlockList>
    </section>
  {{/if}}

  <hr class="u-border-accent u-hide-until--m">

  <div class="c-listing__ad">
    <p>Ad here</p>
    <NyprAAdLabel/>
  </div>

  <hr class="u-border-accent u-hide-until--m">

  <section class="c-listing__section o-section">
    <NyprMBlockList @items={{slice 6 undefined model.articles}} as |article|>
      <ArticleBlock
        @article={{article}}
        @orientation='h'
        @size='l'
        @thumbnailSize='300'
      />
    </NyprMBlockList>
  </section>


  <QueryMore @query={{query}} @model='article' @callback={{addComments}} as |more|>
    <AnimatedContainer class="u-section-spacing" @onInitialRender={{true}}>
      {{#each more.pages as |page|}}
        <section class="c-listing__section o-section">
          <NyprMBlockList @items={{slice 0 6 page}} as |article|>
            <ArticleBlock
              @article={{article}}
              @orientation='h'
              @size='l'
              @thumbnailSize='300'
            />
          </NyprMBlockList>
        </section>

        <hr class="u-border-accent u-hide-until--m">

        <div class="c-listing__ad">
          <p>Ad here</p>
          <NyprAAdLabel/>
        </div>

        <hr class="u-border-accent u-hide-until--m">

        <section class="c-listing__section o-section">
          <NyprMBlockList @items={{slice 6 undefined page}} as |article|>
            <ArticleBlock
              @article={{article}}
              @orientation='h'
              @size='l'
              @thumbnailSize='300'
            />
          </NyprMBlockList>
        </section>
      {{/each}}
    </AnimatedContainer>

    <div class="u-align-center">
      <NyprAButton
        data-test-more-results
        class="o-button--c-quaternary o-button--extra"
        @onclick={{perform more.queryMore}}
      >
        {{if more.queryMore.isRunning 'Loading...' 'More Results'}}
      </NyprAButton>
    </div>
  </QueryMore>

</div>
