<div class="c-listing__sections u-section-spacing l-container l-container--14col l-wrap">
  <header class="c-tag-listing__header u-trigger-floating-header">
    <h1 class="c-tag-listing__heading u-font--secondary" data-test-tag-heading>
      {{model.title}}
    </h1>
  </header>

  <hr class="u-border-accent u-hide-until--m">

  <section class="c-listing__section o-section">
    <NyprMBlockList @items={{model.articles}} as |article|>
      <ArticleBlock
        @article={{article}}
        @orientation='h'
        @size='l'
        @thumbnailSize='300'
      />
    </NyprMBlockList>
  </section>

  <QueryMore @query={{query}} @model='article' as |more|>
    <AnimatedContainer @onInitialRender={{true}}>
      {{#each more.pages as |page|}}
        <section class="c-listing__section o-section">
          <NyprMBlockList @items={{page}} as |article|>
            <ArticleBlock
              @article={{article}}
              @orientation='h'
              @size='l'
              @thumbnailSize='300'
            />
          </NyprMBlockList>
        </section>
      {{/each}}
    </AnimatedContainer>

    <div class="u-align-center">
      <NyprAButton
        data-test-more-results
        class="o-button--c-quaternary o-button--extra"
        @onclick={{action more.queryMore}}
      >
        More Results
      </NyprAButton>
    </div>
  </QueryMore>

</div>
